.barra-menu {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--fondo-Menu);
    height: 3rem;
    list-style: none;
}

.selectores {
    display: flex;
    gap: 1rem;
    list-style: none;
    justify-content: center;
    align-items: center;
}

.selectores li a,
.boton-inicio {
    text-decoration: none;
    color: white;
}

.selectores li select {
    background: transparent;
    border: none;
    font-size: 14px;
    height: 30px;
    padding: 5px;
    color: var(--celeste);
    font-weight: bold;
}

.selectores .filtrar {
    background-color: white;
    border-radius: 15px;
    padding: 10px;
    font-size: 10px;
    text-transform: uppercase;
    text-align: center;
    color: var(--textos);
}

.selectores .general {
    background-color: var(--celeste);
    border-radius: 6px;
    padding: 6px 25px;
    text-align: center;
    margin-right: 10px;
}

.selectores .informes {
    border-radius: 15px;
    border: 1px solid white;
    padding: 6px 25px;
    text-align: center;
    margin-right: 10px;
}

.boton-inicio {
    background-color: var(--gris-claro);
    border-radius: 5px;
    padding: 5px;
    font-size: 10px;
    text-transform: uppercase;
    text-align: center;
    margin-right: 10px;
}

.boton-inicio:hover {
    color: var(--textos);
}

.sec-mensaje p {
    width: 400px;
    margin: 20px auto;
    padding: 15px;
    border-radius: 10px;
    color: #ffffff;
    font-size: 12px;
    font-weight: 200;
    text-align: center;
}

.icono {
    margin-right: 10px;
    font-size: 15px;
}

.sec-mensaje .exito {
    background-color: var(--mensaje-usuario-verde);
}

.sec-mensaje .error {
    background-color: var(--mensaje-usuario-rojo);
}

.sec-mensaje .incompleto {
    background-color: var(--mensaje-usuario-amarillo);
}

.texto-path {
    font-size: 14px;
    color: var(--celeste);
}

.boton-informe {
    background-color: var(--gris-claro);
    color: white;
    font-size: 10px;
    text-align: center;
    padding: 5px;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    padding: 10px 30px 10px 30px;
}

.boton-informe:hover {
    color: var(--textos);
}

.sec-contenido,
.mesas,
.electores,
.escrutado {
    display: flex;
    justify-content: space-between;
}

.container-recuadros {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
}

.mesas {
    background-color: var(--celeste);
    border-radius: 10px;
    margin: 15px;
    height: 70px;
    width: 184px;
    padding: 0.5rem 1rem;
    font-size: 12px;
}

.electores {
    background-color: var(--magenta);
    border-radius: 10px;
    margin: 15px;
    height: 70px;
    width: 184px;
    padding: 0.5rem 1rem;
    font-size: 12px;
}

.escrutado {
    background-color: var(--morado);
    border-radius: 10px;
    margin: 15px;
    height: 70px;
    width: 184px;
    padding: 0.5rem 1rem;
    font-size: 12px;
}

.mesas div p,
.electores div p,
.escrutado div p {
    color: #fff;
}

.recuadro {
    width: 460px;
    height: auto;
    border-radius: 25px;
    border: 1px var(--borde-Grilla) solid;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.recuadro h1 {
    font-weight: bold;
    padding: 1rem 0 0 0;
    text-align: center;
    white-space: nowrap;
}

.recuadro h2 {
    border-bottom: 1px solid var(--borde-Grilla);
}

.agrupaciones-politicas {
    overflow: scroll;
}

.partido-interno {
    display: flex;
    justify-content: space-between;
}

.recuadros-centrales {
    display: flex;
    justify-content: center;
    gap: 3rem;
}

.provincia {
    display: flex;
    flex-direction: column;
}

.provincia svg {
    align-self: center;
}

.partido {
    margin: auto;
    max-width: 95%;
    justify-content: center;
    align-items: center;
    align-content: center;
    align-self: center;
}

/*barra de progreso*/
.progress {
    height: 35px;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 15px;
}

.progress-bar {
    height: 100%;
    display: flex;
    align-items: center;
    transition: width 0.25s;
    border-radius: 5px;
}

.progress-bar-text {
    margin-left: 10px;
    font-weight: bold;
    color: var(--textos);
    font-size: 9px;
}

.chart-wrap {
    --chart-width: 260px;
    --grid-color: #aaa;
    --bar-thickness: 25px;
    --bar-rounded: 3px;
    --bar-spacing: 10px;
    font-family: sans-serif;
    width: var(--chart-width);
}

.chart-wrap .title {
    font-weight: bold;
    padding: 1.8em 0 2.8em;
    text-align: center;
    white-space: nowrap;
}

/* cuando definimos el gráfico en horizontal, lo giramos 90 grados */
.chart-wrap.horizontal .grid {
    transform: rotate(-90deg);
}

.chart-wrap.horizontal .bar::after {
    /* giramos las letras para horizontal*/
    transform: rotate(45deg);
    padding-top: 0px;
    display: block;
}

.chart-wrap .grid {
    margin-left: 50px;
    position: relative;
    padding: 5px 0 5px 0;
    height: 100%;
    width: 100%;
    border-left: 2px solid var(--grid-color);
    font-size: 10px;
}

/* posicionamos el % del gráfico*/
.chart-wrap .grid::before {
    font-size: 0.8em;
    font-weight: bold;
    content: "0%";
    position: absolute;
    left: -0.5em;
    top: -1.5em;
}

.chart-wrap .grid::after {
    font-size: 0.8em;
    font-weight: bold;
    content: "100%";
    position: absolute;
    right: -1.5em;
    top: -1.5em;
}

/* giramos las valores de 0% y 100% para horizontal */
.chart-wrap.horizontal .grid::before,
.chart-wrap.horizontal .grid::after {
    transform: rotate(90deg);
}

.chart-wrap .bar {
    width: var(--bar-value);
    height: var(--bar-thickness);
    margin: var(--bar-spacing) 0;
    background-color: var(--bar-color);
    border-radius: 0 var(--bar-rounded) var(--bar-rounded) 0;
}

.chart-wrap .bar:hover {
    opacity: 0.7;
}

.chart-wrap .bar::after {
    content: attr(data-name);
    margin-left: 100%;
    padding: 10px;
    display: inline-block;
    white-space: nowrap;
}